<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>RFT Projektmunka</title>
</head>
<body>
    <div class="menu">
            <h1>RFT Projektmunka</h1>
            <input type="button" value="Login" id="loginButton" class="buttons">
            <input type="button" value="Register" id="registerButton" class="buttons">    
    </div>
    <div>
        <p>Készítette: Béres Dániel & Vad Kristóf</p>
    </div>
</body>
</html>