<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Login</title>
</head>
<body>
    <form>
        <div class="login">
            <div>
                <label for="emailInput">Írja be az email címét</label>
            </div>
            <div>
                <input type="email" id="emailInput" placeholder="Írja be az email címét">
            </div>
            <div>
                <label for="passwordInput">Írja be a jelszavát</label>

            </div>
            <div>
                <input type="password" id="passwordInput" placeholder="Írja be a jelszavát">
            </div>
			<div>
				<button id="loginButton" class= "buttons">
				Login
				</button>
			</div>
        </div>
    </form>
</body>
</html>

