<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Register</title>
</head>
<body>
    <form class="register">
        <div>
            <label for="emailInput">Írja be az email címét</label>
        </div>
        <div>
            <input type="email" id="emailInput" placeholder="Írja be az email címét">
        </div>
        <div>
            <label for="userName">Írja be a felhasználói nevét</label>
        </div>
        <div>
            <input type="text" id="userName" placeholder="Írja be a felhasználói nevét">
        </div>
        <div>
            <label for="passwordInput">Írja be a jelszavát</label>
        </div>
        <div>
            <input type="password" id="passwordInput" placeholder="Írja be a jelszavát">
        </div>
        <div>
				<button id="loginButton" class= "buttons">
				Register
				</button>
			</div>
    </form>
</body>
</html>